* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background-color: #0c122c;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
body .background {
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
body .background .one, body .background .two {
  width: 100%;
}
body .background .one {
  height: 47.5vh;
}
body .background .two {
  height: 52.5vh;
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 13.3rem;
}
body .container {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
body .container .component {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 20px;
}
body .container .component .options {
  background: #1d2c67;
  max-width: 350.44px;
  width: 90%;
  padding: 40px 0 40px 40px;
  border-radius: 10px;
  border-top-right-radius: 100px;
  margin-right: 30px;
  box-shadow: 0 5px 30px 20px rgba(0, 0, 0, 0.3);
}
body .container .component .options .logo {
  margin-bottom: 30px;
  text-align: left;
}
body .container .component .options .menu a {
  display: inline-block;
  background: #0c122c;
  padding: 10.25px 11.3px;
  border-radius: 10px;
  margin-right: 14px;
  transition: all 0.3s ease;
}
body .container .component .options .menu a:hover {
  background: #000;
}
body .container .component .storage {
  margin-top: 47px;
  color: #fff;
  background: #1d2c67;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  max-width: 540px;
  width: 100%;
  box-shadow: 0 5px 30px 20px rgba(0, 0, 0, 0.3);
}
body .container .component .storage .left {
  position: absolute;
  left: 59.5%;
  top: -47px;
  background: #fff;
  padding: 12px 23px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
body .container .component .storage .left:before {
  left: 89%;
  top: 73%;
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #fff;
  position: absolute;
}
body .container .component .storage .left span {
  color: #0c122c;
  font-weight: 700;
  font-size: 3em;
  margin-right: 8px;
}
body .container .component .storage .left p {
  color: #848794;
  font-weight: 700;
  font-size: 0.9375em;
  letter-spacing: 0.5px;
}
body .container .component .storage .description {
  color: #dddbff;
  margin-bottom: 15px;
}
body .container .component .storage .description span {
  font-weight: 700;
}
body .container .component .storage .capacity {
  display: flex;
  max-width: 460px;
  width: 100%;
  flex-flow: row wrap;
}
body .container .component .storage .capacity .bar {
  width: 100%;
  background: #0c122c;
  height: 20px;
  border-radius: 60px;
  margin-bottom: 6px;
  position: relative;
}
body .container .component .storage .capacity .bar:after {
  content: "";
  width: 73.6%;
  height: 14px;
  border-radius: 60px;
  background: linear-gradient(90deg, #ffa399, #ff4d97);
  position: absolute;
  left: 3px;
  top: 3px;
}
body .container .component .storage .capacity .bar:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 71.8%;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 10;
}
body .container .component .storage .capacity .initial, body .container .component .storage .capacity .final {
  width: 50%;
  font-weight: 700;
  color: #dddbff;
  font-size: 0.875em;
}
body .container .component .storage .capacity .final {
  text-align: right;
}
body .container .attribution {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 1024px) {
  body .background {
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  body .background .one, body .background .two {
    z-index: 1;
  }
  body .background .two {
    background-image: none;
  }
  body .container .component .options, body .container .component .storage {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  body .container .component {
    flex-flow: column;
    align-items: center;
  }
  body .container .component .options {
    margin-right: 0;
  }
  body .container .component .storage .left {
    left: 35%;
    top: 80%;
  }
  body .container .component .storage .left:before {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  body .container .component {
    padding-bottom: 43px;
  }
  body .container .component .options, body .container .component .storage {
    width: 87%;
  }
  body .container .component .options {
    padding-right: 0;
  }
  body .container .component .storage {
    margin-top: 15px;
    padding: 30px 30px 55px;
  }
  body .container .component .storage .description {
    text-align: center;
  }
  body .container .component .storage .left {
    left: 25%;
  }
  body .container .component .storage .capacity .bar {
    margin-bottom: 10px;
  }
  body .container .component .storage .capacity .bar:before {
    left: 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
